* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(to right, #f06, #aef); /* Simple gradient background */
    align-items: center; /* Centers content from side to side */
}

header {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 2px;
    width: 100%;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.candy-intro {
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.candy-content {
    width: 90%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.image-container {
    width: fit-content;
    margin: auto; /* Auto margin for side to side centering */
    transition: transform 0.3s ease;
    transform: translateY(10px);
    padding-bottom: 10px;
}

.logo-container {
    width: fit-content;
    margin: auto; /* Auto margin for side to side centering */
    transform: translateY(10px);
    padding-bottom: 10px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    transform: translateY(10px);
    padding-bottom: 10px;
}

.image-container:hover img {  /* applies zoom in effect when hovering over items with the image-container class */
    transform: scale(1.05);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    width: 100%;
}

.footer-content,
.contact-form {
    margin-bottom: 1rem;
}

.contact-form {
    width: 100%;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="submit"] {
    width: 80%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ddd;
}

.contact-form input[type="submit"] {
    width: 50%;
    padding: 0.5rem;
    background-color: #f06;
    color: #fff;
    border: none;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background-color: #b03;
}
